.gold {
    color: #d1ac60 !important;
}

.white {
    color: #fff;
}

.bg-custom-dark {
    background-color: #666666;
}

.bg-custom-darker {
    background-color: #292929;
}

.wrap-header-mobile {
    background-color: #fff !important;
}

.bottom-line-white {
    border-bottom: 1px solid #ffffff;
}

.menu-font-style {
    font-size: 16px !important;
    color: #000 !important;
}

#header-sticky .wrap-menu-desktop {
    top: 0 !important;
}

#header-sticky {
    height: 100px;
}

#header-sticky .fix-menu-desktop {
    height: 100px;
}

.fix-menu-desktop .wrap-menu-desktop{
    height: 100px !important;
}

.main-menu .sub-menu .disabled-link {
    color: #726866 !important;
}

.menu-desktop .main-menu .sub-menu li {
    background-color: #000;
    border-bottom: 1px solid #000;
}

.menu-desktop .main-menu .sub-menu li a {
    color: #fff;
}

.menu-desktop .main-menu>li:hover>a {
    text-decoration: none;
    color: #fff;
}

.menu-desktop .sub-menu li:hover {
    background-color: #000;
}

#back-navigation {
    width: 175px;
}

.back-font {
    font-size: 10px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
    background-color: #fff !important;
}

@media (min-width: 576px) {

    .workshop-footer {
        padding-top: 20px;
    }
}

@media (min-width: 768px) {
    .workshop-footer {
        padding-top: 3rem;
        margin-top: 1rem;
    }

    .copyright {
        padding-top: 150px !important;
    }

    .headoffice-footer {
        padding-top: 55px;
    }

    .workshop-footer {
        padding-top: 55px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1024px) {
    #back-navigation {
        width: 350px;
    }
}

@media (min-width: 1200px) {}
