.gold{
    color: #d1ac60 !important;
}

.white{
    color: #fff;
}

.bottom-line-white{
    border-bottom: 1px solid #ffffff;
}

@media (max-width: 576px) {
    /* Footer */
    .mobile-center{
        text-align: center !important;
    }
    .mobile-p-b-0{
        padding-bottom: 0;
    }
    .mobile-p-t-0{
        padding-top: 0;
    }
}

@media (max-width: 768px) {
    /* Footer */
    .mobile-center{
        text-align: center !important;;
    }
    .mobile-p-b-0{
        padding-bottom: 0;
    }
    .mobile-p-t-0{
        padding-top: 0;
    }
}

@media (max-width: 992px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1200px) {
}